* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
footer {
/*background: #F1E6E4; /*cor do fundo footer*/
background: #F1E6E4;
color: rgb(0, 0, 0); /*cor das letras do fundo footer*/
height: auto;
width: 100%;
font-family: 'Open Sans', sans-serif;
padding-top: 40px;
margin-top: 40px;
}
.footer-content {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
} 
.footer-content h3 { 
font-size: 1.8rem;
font-weight: 400;
text-transform: capitalize;
line-height: 2rem; /*espaço h3 bottom*/
}
.footer-content p {
max-width: 500px;
margin: 10px auto;
line-height: 28px;
font-size: 14px;
}
.socials {
list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin: 1rem 32px 2.4rem 0; /*espaço da socials em top e bottom*/

}
.socials li {
margin: 0 10px;
}
.socials .footer-socials {
text-decoration: none;
color: rgb(58, 58, 58);/*cor dos socials antes*/
}
.socials .afooter-socials i{
font-size: 1.1rem;
transition: color .4s ease;
}
.socials .footer-socials:hover i {
color: #4d342f; /*cor hover socials*/
}
.footer-bottom { 
background: rgba(0, 0, 0, 0.953); /*cor do fundo bottom*/
color: rgb(255, 255, 255);/*cor da do fundo bottom*/
width: 100%;
padding: 20px 0;    
padding-top: 15px;
padding-bottom: 1px;
text-align: center;
}
.footer-bottom p {
font-size: 14px;
word-spacing: 2px;
text-transform: capitalize;
}
.footer-bottom span {
text-transform: uppercase;
opacity: .4;
font-weight: 200;
}