* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 0px solid rgba(204, 204, 204, 0.371);
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.131);
  background-color: rgba(0, 0, 0, 0.042);
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  white-space : nowrap; 
}
input[type=submit] {
  background: #e2d1cf;  
  color: #212529;
  padding: 7px 10px 7px 10px;
  width: 80px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  border-radius: 5px;
}
input[type=submit]:hover {
  /*background-color: #F1E6E4;*/
  filter: brightness(90%);
}
#assunto {
  cursor: pointer;
  background-color: rgba(223, 221, 221, 0.624);
  color: rgba(0, 0, 0, 0.734);
}
#assunto:hover {
  filter: brightness(90%);
}
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
