* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.julieta-paz{
    color: #332929d0;
    /*background-color: rgb(121 113 113 / 13%);*/
    background: rgb(214,204,203);
    background: white;
    display: block;
    text-align: center;
    padding: 70px 18px 30px 18px; /* top rigth bottom left */
    font-size: px;
    margin: 0px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100;300&display=swap');
header {s
    font-family: 'Open Sans', sans-serif, 'Roboto', sans-serif;
}

.topnav {
    background-color: #f7f2f1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 2px #00000013;
}
.topnav a {
    float: left;
    display: block;
    color: #332929e5;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.topnav a:hover {
    background-color: rgba(0, 0, 0, 0.049);
    color: #332929d0;
    text-decoration: none;
    transition: 0.3s;
    /*border-radius: 10px;*/
}
.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .topnav.responsive {position: relative;}

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
    .topnav{
    flex-direction: column;    
    }
