* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content-table {
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
min-width: 400px;
overflow: hidden;
border-radius: 5px 5px 0 0;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
width: 100%;
}
th {
text-align: left;
}
.aquarela {
text-align: right;
}
.digital {
text-align: center;
}
.content-table thead tr {
color: rgb(0, 0, 0);
text-align: left;
font-weight: bold;
}
.content-table th,
.content-table td {
padding: 13px 15px 12px 10px; /*top rigth bottom left*/
}
.content-table tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}
.content-table tbody tr {
border-bottom: 1px solid #dddddd;
}
.digital-border tr:last-of-type {
border-bottom: 2px solid #ffc0bfb9;
}
.acrilica-border tr:last-of-type {
border-bottom: 2px solid #D4DAFE;
}
.grafite-border tr:last-of-type {
border-bottom: 2px solid #FFDBCB;
}
.aquarela-border tr:last-of-type {
border-bottom: 2px solid #E6C9F9;
}
@media (max-width: 400px) {
.content-table {
min-width: 300px;
} 
@media (max-width: 300px) {
.content-table {
min-width: 200px;        
}
